// main variables for use in project

// Colors
$color-white: #ffffff;
$color-black: #000000;
$color-silver: #BABABA;
$color-grey: #7D7D7D;
$color-deep-teal: #213F3B;

// Typography
$ff-main: "", "", sans-serif;
$ff-secondary: "", "", sans-serif;

// Viewport
$vp-tablet: 1023px;
$vp-mobile: 767px;

// Animation
$transition-300: ease-in 0.3s;